<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Athletes</title>
</head>
<body>
<h2>Спортсмены</h2>
<a th:href="@{/}">На главную</a>
<p></p>
<table th:border="3">
    <tr>
        <th>id</th>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Пол</th>
        <th>Вид спорта</th>
        <th>Зарплата</th>
        <th>Действие</th>
    </tr>
    <tr th:each = "user : ${usersList}">
        <td th:utext="${user.id}"></td>
        <td th:utext="${user.firstName}"></td>
        <td th:utext="${user.lastName}"></td>
        <td th:utext="${user.gender}"></td>
        <td th:utext="${user.sport}"></td>
        <td th:utext="${user.salary}"></td>
        <td>
            <a th:href="@{/edit/{userId}(userId=${user.id})}">Редактировать </a>
            <a th:href="@{/delete/{userId}(userId=${user.id})}">Удалить</a>
        </td>
    </tr>
</table>
<p></p>
<a th:href="@{/add}">Новый спортсмен</a>
</body>
</html>